In [9]:
""" import sys
sys.path.append('../scripts') """

" import sys\nsys.path.append('../scripts') "

In [10]:
import pandas as pd
import sqlite3

In [11]:
con= sqlite3.connect(database='../data/raw/trends.db')

In [12]:
df= pd.read_sql('SELECT * FROM trends_raw', con)

In [13]:
con.close()

In [14]:
df.head()

,date,100% vegan,bio,biodegradable,compostable,ecological,isPartial,ethical trade,fair trade,fairtrade,...,plant-based,plastic free,plastic-free,recyclable,recycled,refillable,reusable,vegan,vegan friendly,washable
0,2024-08-11 00:00:00,0.0,91.0,2.0,1.0,2.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-08-18 00:00:00,0.0,94.0,2.0,1.0,3.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-08-25 00:00:00,0.0,91.0,2.0,1.0,4.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-01 00:00:00,0.0,91.0,2.0,1.0,4.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-08 00:00:00,0.0,94.0,2.0,1.0,5.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.describe()

,100% vegan,bio,biodegradable,compostable,ecological,isPartial,ethical trade,fair trade,fairtrade,made from recycled,...,plant-based,plastic free,plastic-free,recyclable,recycled,refillable,reusable,vegan,vegan friendly,washable
count,53.0,53.000000,53.000000,53.0,53.000000,265.000000,53.000000,53.000000,53.000000,53.000000,...,53.000000,53.000000,53.0,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,0.0,94.660377,2.320755,1.0,3.943396,0.018868,1.924528,36.622642,12.037736,3.320755,...,1.113208,1.773585,0.0,2.943396,7.830189,2.396226,8.830189,79.716981,0.773585,68.509434
std,0.0,3.168010,0.510414,0.0,0.864138,0.136316,0.474303,12.078631,2.303528,0.580901,...,0.466591,0.697289,0.0,0.233295,0.802301,0.531313,0.955467,5.838787,0.422516,7.999093
min,0.0,86.000000,2.000000,1.0,2.000000,0.000000,1.000000,27.000000,7.000000,2.000000,...,1.000000,1.000000,0.0,2.000000,6.000000,2.000000,8.000000,70.000000,0.000000,58.000000
25%,0.0,93.000000,2.000000,1.0,3.000000,0.000000,2.000000,31.000000,10.000000,3.000000,...,1.000000,1.000000,0.0,3.000000,7.000000,2.000000,8.000000,76.000000,1.000000,64.000000
50%,0.0,95.000000,2.000000,1.0,4.000000,0.000000,2.000000,34.000000,12.000000,3.000000,...,1.000000,2.000000,0.0,3.000000,8.000000,2.000000,9.000000,78.000000,1.000000,67.000000
75%,0.0,98.000000,3.000000,1.0,5.000000,0.000000,2.000000,36.000000,14.000000,4.000000,...,1.000000,2.000000,0.0,3.000000,8.000000,3.000000,9.000000,83.000000,1.000000,71.000000
max,0.0,100.000000,4.000000,1.0,5.000000,1.000000,3.000000,100.000000,16.000000,4.000000,...,4.000000,4.000000,0.0,3.000000,11.000000,4.000000,13.000000,100.000000,1.000000,100.000000

In [16]:
df.isna().sum()

date                    0
100% vegan            212
bio                   212
biodegradable         212
compostable           212
ecological            212
isPartial               0
ethical trade         212
fair trade            212
fairtrade             212
made from recycled    212
no plastic            212
organic               212
plant-based           212
plastic free          212
plastic-free          212
recyclable            212
recycled              212
refillable            212
reusable              212
vegan                 212
vegan friendly        212
washable              212
dtype: int64

In [17]:
df=df.reset_index()

In [18]:
df= df.melt(id_vars=['date'], var_name='Keyword', value_name='Value')

In [19]:
df['date'] = df['date'].dt.strftime("%Y-%m-%d")

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df= df.drop_duplicates(subset=['date', 'Keyword'])

In [ ]:
df['Value']= df['Value'].fillna(0).astype(int)

/var/folders/dn/6hvnc_t17yg34gpgwcw9ypg00000gn/T/ipykernel_19475/905017008.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Value']= df['Value'].fillna(0).astype(int)

In [ ]:
df=df.sort_values(['Keyword', 'date'])

In [30]:
import sqlite3
import pandas as pd

In [37]:
conn = sqlite3.connect("../data/processed/trends.db")

In [38]:
data= pd.read_sql('SELECT * FROM trends_processed;', conn)
data.head()

         date     keyword  value
0  2024-08-11  100% vegan      0
1  2024-08-18  100% vegan      0
2  2024-08-25  100% vegan      0
3  2024-09-01  100% vegan      0
4  2024-09-08  100% vegan      0

In [39]:
data['keyword'].values

array(['100% vegan', '100% vegan', '100% vegan', ..., 'washable',
       'washable', 'washable'], shape=(1113,), dtype=object)

In [40]:
data.tail()

            date   keyword  value
1108  2025-07-13  washable     73
1109  2025-07-20  washable     78
1110  2025-07-27  washable     80
1111  2025-08-03  washable     99
1112  2025-08-10  washable    100

In [41]:
data[data['value']!=0].head()

          date keyword  value
53  2024-08-11     bio     85
54  2024-08-18     bio     88
55  2024-08-25     bio     84
56  2024-09-01     bio     86
57  2024-09-08     bio     88