In [1]:
import sys
sys.path.append('../scripts')

In [17]:
import pandas as pd

In [2]:
from fetch_trends import fetch_trends_data

In [3]:
df=fetch_trends_data([
        "sustainable fashion",
        "eco-friendly clothing",
        "organic cotton",
        "eco-friendly products",
        "biodegradable packaging",
        "zero waste products",
        "green energy",
        "solar panels",
        "electric scooter",
        "organic food",
        "natural skincare"
    ])

/Users/parthasarathibiswas/Desktop/portfolio/eco-product-demand-forecast/.venv/lib/python3.12/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/parthasarathibiswas/Desktop/portfolio/eco-product-demand-forecast/.venv/lib/python3.12/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
/Users/parthasarathibiswas/Desktop/portfolio/eco-product-demand-forecast/.venv/lib/python3.12/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

In [25]:
df.head(6)

           date                  Keyword  Value
648  2024-07-28  biodegradable packaging      2
649  2024-08-04  biodegradable packaging      3
650  2024-08-11  biodegradable packaging      2
651  2024-08-18  biodegradable packaging      2
652  2024-08-25  biodegradable packaging      2
653  2024-09-01  biodegradable packaging      2

In [5]:
df.drop('isPartial', axis= 1)

,sustainable fashion,eco-friendly clothing,organic cotton,eco-friendly products,biodegradable packaging,zero waste products,green energy,solar panels,electric scooter,organic food,natural skincare
date,,,,,,,,,,,
2024-07-28,8.0,0.0,37.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-04,8.0,0.0,36.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-11,7.0,0.0,36.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-18,8.0,0.0,40.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-25,8.0,0.0,37.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2025-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
2025-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0
2025-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
2025-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
2025-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0

In [6]:
df.describe()

,sustainable fashion,eco-friendly clothing,organic cotton,eco-friendly products,biodegradable packaging,zero waste products,green energy,solar panels,electric scooter,organic food,natural skincare
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.0,54.000000,54.000000,54.000000,54.000000,54.000000
mean,10.166667,0.314815,48.018519,2.907407,2.925926,0.0,28.018519,44.814815,59.833333,9.833333,52.740741
std,1.501572,0.468803,9.586726,1.247919,0.722988,0.0,14.960944,7.079266,10.782148,1.526496,11.040552
min,7.000000,0.000000,36.000000,1.000000,2.000000,0.0,17.000000,28.000000,39.000000,7.000000,37.000000
25%,9.000000,0.000000,41.250000,2.000000,3.000000,0.0,21.250000,40.000000,56.000000,9.000000,45.000000
50%,10.000000,0.000000,48.000000,3.000000,3.000000,0.0,24.000000,43.000000,59.000000,10.000000,51.000000
75%,11.000000,1.000000,51.000000,3.000000,3.000000,0.0,28.000000,51.000000,64.000000,10.000000,55.000000
max,13.000000,1.000000,100.000000,8.000000,6.000000,0.0,100.000000,64.000000,90.000000,17.000000,100.000000

In [11]:
df.isna().sum()

sustainable fashion        108
eco-friendly clothing      108
organic cotton             108
eco-friendly products      108
biodegradable packaging    108
isPartial                    0
zero waste products        108
green energy               108
solar panels               108
electric scooter           108
organic food               108
natural skincare           108
dtype: int64

In [12]:
df=df.reset_index()

In [14]:
df= df.melt(id_vars=['date'], var_name='Keyword', value_name='Value')

In [18]:
df['date'] = df['date'].dt.strftime("%Y-%m-%d")

In [20]:
df= df.drop_duplicates(subset=['date', 'Keyword'])

In [23]:
df['Value']= df['Value'].fillna(0).astype(int)

/var/folders/dn/6hvnc_t17yg34gpgwcw9ypg00000gn/T/ipykernel_19475/905017008.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Value']= df['Value'].fillna(0).astype(int)

In [22]:
df=df.sort_values(['Keyword', 'date'])