In [ ]:
""" import sys
sys.path.append('../scripts') """

In [1]:
import pandas as pd
import sqlite3

In [3]:
con= sqlite3.connect(database='../data/raw/trends.db')

In [4]:
df= pd.read_sql('SELECT * FROM trends_raw', con)

In [5]:
con.close()

In [6]:
df.head()

         date                  keyword  value
0  2024-08-04  biodegradable packaging      3
1  2024-08-11  biodegradable packaging      3
2  2024-08-18  biodegradable packaging      3
3  2024-08-25  biodegradable packaging      3
4  2024-09-01  biodegradable packaging      3

In [7]:
df.describe()

            value
count  636.000000
mean     7.155660
std     17.683552
min      0.000000
25%      0.000000
50%      0.000000
75%      4.000000
max    100.000000

In [8]:
df.isna().sum()

date       0
keyword    0
value      0
dtype: int64

In [12]:
df=df.reset_index()

In [14]:
df= df.melt(id_vars=['date'], var_name='Keyword', value_name='Value')

In [18]:
df['date'] = df['date'].dt.strftime("%Y-%m-%d")

In [20]:
df= df.drop_duplicates(subset=['date', 'Keyword'])

In [23]:
df['Value']= df['Value'].fillna(0).astype(int)

/var/folders/dn/6hvnc_t17yg34gpgwcw9ypg00000gn/T/ipykernel_19475/905017008.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Value']= df['Value'].fillna(0).astype(int)

In [22]:
df=df.sort_values(['Keyword', 'date'])

In [7]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect("../data/raw/trends.db")

In [9]:
data= pd.read_sql('SELECT * FROM Trends_raw;', conn)
data.head()

         date                  keyword  value
0  2024-07-28  biodegradable packaging      3
1  2024-08-04  biodegradable packaging      3
2  2024-08-11  biodegradable packaging      3
3  2024-08-18  biodegradable packaging      3
4  2024-08-25  biodegradable packaging      3