In [4]:
import pandas as pd
import sqlite3

In [9]:
con= sqlite3.connect('../data/raw/trends.db')
df=pd.read_sql(f'SELECT * FROM trends_raw', con)
df.head(5)

,date,sustainable fashion,eco-friendly clothing,organic cotton,eco-friendly products,biodegradable packaging,isPartial,zero waste products,green energy,solar panels,electric scooter,organic food,natural skincare
0,2024-08-11 00:00:00,9.0,0.0,48.0,2.0,3.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-08-18 00:00:00,11.0,0.0,53.0,2.0,3.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-08-25 00:00:00,11.0,0.0,48.0,2.0,4.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-01 00:00:00,10.0,1.0,51.0,2.0,3.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-08 00:00:00,11.0,0.0,51.0,3.0,3.0,0,NaN,NaN,NaN,NaN,NaN,NaN