In [1]:
import pandas as pd
import sqlite3

In [2]:
con= sqlite3.connect('../data/raw/trends.db')
df=pd.read_sql(f'SELECT * FROM trends_raw', con)
df.head(5)

                  date     keyword  value
0  2024-08-11 00:00:00  100% vegan      0
1  2024-08-18 00:00:00  100% vegan      0
2  2024-08-25 00:00:00  100% vegan      0
3  2024-09-01 00:00:00  100% vegan      0
4  2024-09-08 00:00:00  100% vegan      0